:root,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
  font-family: "Montserrat", sans-serif;
}

main {
  display: grid;
  place-items: center;
  align-items: center;
  height: 100vh;
}

article {
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #242323;
  padding-top: 60px;
  color: #c2c2c2;
  filter: drop-shadow(0px 13px 17px 0px #1c1b1b45);
  border-radius: 5px;
}

article > img {
  border-radius: 50%;
  width: 146px;
  height: auto;
  filter: drop-shadow(0px 2px 13px 0px #212020);
}

article > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 25px;
  transition: all 0.3s ease-in-out;
}

article > h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 10px;
  padding: 3px 9px;
  background-color: #1e1d1d;
  border-radius: 15px;
  color: #8a8a8a;
}

article p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 20px;
  margin-top: 30px;
  max-width: 257px;
  flex-wrap: wrap;
  text-align: center;
}

article footer {
  background: #1f1e1e;
  width: 100%;
  padding: 38px 0;
  margin-top: 30px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 83px;
  list-style: none;
}

svg {
  overflow: visible;
}

svg .icon {
  transition: all 0.3s ease-in-out;
}

svg:hover .icon {
  fill: #fff;
  transform: scale(1.1);
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

h1:hover {
  transform: scale(1.1);
  color: #9cf;
}